<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateComplaintServlet</servlet-name>
        <servlet-class>Servlets.CreateComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>Servlets.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>Servlets.StaffLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCaseServlet</servlet-name>
        <servlet-class>Servlets.ProcessCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateCaseServlet</servlet-name>
        <servlet-class>Servlets.AllocateCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>Servlets.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveOfficerAllocationServlet</servlet-name>
        <servlet-class>Servlets.RetrieveOfficerAllocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>Servlets.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>Servlets.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>Servlets.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCaseServlet</servlet-name>
        <servlet-class>Servlets.RetrieveCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCasesServlet</servlet-name>
        <servlet-class>Servlets.ViewCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCaseDetailsServlet</servlet-name>
        <servlet-class>Servlets.ViewCaseDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewCaseServlet</servlet-name>
        <servlet-class>Servlets.UserViewCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>Servlets.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet2</servlet-name>
        <servlet-class>Servlets.FileUploadServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>Servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfGenServlet</servlet-name>
        <servlet-class>Servlets.PdfGenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPdfServlet</servlet-name>
        <servlet-class>Servlets.ViewPdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateComplaintServlet</servlet-name>
        <url-pattern>/CreateComplaint</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCaseServlet</servlet-name>
        <url-pattern>/ProcessCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateCaseServlet</servlet-name>
        <url-pattern>/AllocateCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveOfficerAllocationServlet</servlet-name>
        <url-pattern>/RetrieveOfficerAllocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/StaffLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/ViewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewCaseServlet</servlet-name>
        <url-pattern>/UserViewCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCaseServlet</servlet-name>
        <url-pattern>/RetrieveCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCasesServlet</servlet-name>
        <url-pattern>/ViewCases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCaseDetailsServlet</servlet-name>
        <url-pattern>/ViewCaseDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/FileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet2</servlet-name>
        <url-pattern>/FileUploadServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfGenServlet</servlet-name>
        <url-pattern>/PdfGen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPdfServlet</servlet-name>
        <url-pattern>/ViewPdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
